---
layout: layouts/corporativo.njk
uuid: a608dcba-aa45-480b-920c-d07927c72c0b
titulo: Somos <b>idenautas</b>
intro: <p>Transformamos ideas en realidad digital</p><p>Nuestra filosofía es simple... "hacer cosas geniales". Utilizamos las últimas tecnologías y tendencias para crear experiencias en línea que no solo se vean bien, sino que también sean fáciles de usar y escalables.
templateClass: nosotros
description: Nuestra filosofía es simple... "hacer cosas geniales". Utilizamos las últimas tecnologías y tendencias para crear experiencias en línea
---

<article>
  <div class="contenedor">
    <div class="titvertical">
      <div class="titulo">
        <h2>¿Porqué <b>idenautas</b>?</h2>
      </div>
      <div class="texto">
        <p>
          Se define como <b>idenauta</b> cada uno de los héroes digitales que,
          según la motilogía, estudiaron las artes ocultas del desarrollo web y
          las pusieros a disposición del resto de los internautas para que
          pudieran hacer un uso adecuado de la red.
        </p>
        <p>
          Como <b>idenautas</b> navegamos por las ideas de nuestros proyectos,
          analizamos sus opciones y su viabilidad, y definimos las mejores rutas
          y procedimientos para convertirlas en realidad digital.<br /><br />
        </p>
        <p class="fs-4 italic">
          Nos apasiona ayudar a las empresas a tener una
          <b>presencia en internet</b> sólida y profesional.
        </p>
        <p>
          En <b>idenautas</b> trabajamos con las últimas tecnologías y
          tendencias para brindar soluciones en línea personalizadas y
          escalables. Ofrecemos servicios de desarrollo web utilizando
          tecnologías como <b>Jamstack</b>, lo que nos permite entregar sitios
          web rápidos, seguros y escalables con funcionalidad dinámica a través
          de APIs.
        </p>
        <p>
          Trabajamos en <b>estrecha colaboración</b> con nuestros clientes para
          entender sus necesidades y crear soluciones a medida. Y no te
          preocupes, no hablamos "jerga técnica" y siempre estamos dispuestos a
          explicar las cosas de manera simple y clara.
        </p>
      </div>
    </div>
  </div>
</article>
<div>
  <div class="contenedor estrecho">
    <h2 class="titulosubr">Nuestras fortalezas</h2>
  </div>
  <div class="centrar">{% include "layouts/_4pilares.njk" %}</div>
</div>

<div class="contenedor">
  <article>
    <div class="imagenfijada">
      <div class="texto">
        <p class="fs-4 italic">
          En <b>idenautas</b>, nos enorgullece decir que llevamos más de 15 años
          dedicándonos al desarrollo web.
        </p>
        <p>
          Durante estos años, hemos visto cómo el desarrollo web ha evolucionado
          y cambiado, y nos hemos adaptado para ofrecer siempre las mejores
          <b>soluciones web</b> a nuestros clientes. Hemos aprendido a trabajar
          con las últimas tecnologías y tendencias, y siempre estamos buscando
          nuevas formas de mejorar nuestros procesos y ofrecer servicios web de
          mayor calidad.
        </p>
        <p>
          Nuestra experiencia nos ha permitido acumular un gran conocimiento en
          relación a lo que funciona y lo que no funciona en el mundo del
          <b>desarrollo web</b>. Esto nos permite ofrecer soluciones a medida
          que realmente son útiles para nuestros clientes, ayudándolos a
          alcanzar sus objetivos en línea.
        </p>
        <p>
          Además, todos estos años de experiencia nos han permitido construir
          una gran red de <b>profesionales altamente capacitados</b>, cada uno
          con sus propias habilidades y experiencias. Gracias a ello, podemos
          brindar un <b>servicio excepcional</b> a nuestros clientes,
          asegurándonos de que estén siempre satisfechos con el trabajo que
          realizamos.
        </p>
      </div>
      <div class="imagen">
        {% progImage "f4a1166e-fcc0-4c7b-acf3-164bd4ee1e9b" %}
      </div>
    </div>
  </article>
</div>

{% include "layouts/_formcontacto.njk" %} {% include "layouts/_introblog.njk" %}
