---
url: /humans.txt
---
/* TEAM */
Name: {{ site.name }}
Site: {{ site.url }}
Email: {{ site.email }}
Location: {{ site.address.city }}, {{ site.address.country }}

/* SITE */
Last update: 2026-03-09
Language: Spanish
Standards: HTML5, CSS3, JavaScript
Components: Lume, Vento, Bunny CDN
Software: VS Code
