<div class="contenedor">
  <div class="columnas">
    <div class="grupo">
      <div class="columna">
        <div class="icono">
          {% progImage "nos/nos01.png" %}
        </div>
        <h3 class="fs-2 titulo">Experiencia</h3>
        <p>
									Desde 2007 como agencia independiente de desarrollo web.
									Aunque nuestra pasión por crear páginas web comenzó varios
									años antes...
								</p>
      </div>
      <div class="columna">
        <div class="icono">
          {% progImage "nos/nos02.png" %}
        </div>
        <h3 class="fs-2 titulo">Evolución</h3>
        <p>
									La evolución de internet es constante e imparable. Y siempre
									tratamos de estar alerta sobre las nuevas técnicas y
									metodologías de desarrollo.
								</p>
      </div>
    </div>
    <div class="grupo">
      <div class="columna">
        <div class="icono">
          {% progImage "nos/nos03.png" %}
        </div>
        <h3 class="fs-2 titulo">Ilusión</h3>
        <p>
									Detrás de cada página web hay un proyecto con una historia que
									contar y un futuro por desarrollar. Sin olvidarnos de su
									vertiente humana.
								</p>
      </div>
      <div class="columna">
        <div class="icono">
          {% progImage "nos/nos04.png" %}
        </div>
        <h3 class="fs-2 titulo">Confianza</h3>
        <p>
									Tras más de 15 años desarrollando proyectos en internet
									afrontamos cada reto garantizando el cumplimiento de los
									objetivos establecidos.
								</p>
      </div>
    </div>
  </div>
</div>