<div class="contenedor">
  <div class="columnas">
    <div class="grupo">
      <div class="columna">
        <div class="icono">
          {% progImage 'f3a1137c-0689-4445-a171-d6d5ab6cb2de' %}
        </div>
        <h3 class="fs-2 titulo">Experiencia</h3>
        <p>
									Desde 2007 como agencia independiente de desarrollo web.
									Aunque nuestra pasión por crear páginas web comenzó varios
									años antes...
								</p>
      </div>
      <div class="columna">
        <div class="icono">
          {% progImage '04fa4255-7cfb-4a2c-b10a-1100978ddd87' %}
        </div>
        <h3 class="fs-2 titulo">Evolución</h3>
        <p>
									La evolución de internet es constante e imparable. Y siempre
									tratamos de estar alerta sobre las nuevas técnicas y
									metodologías de desarrollo.
								</p>
      </div>
    </div>
    <div class="grupo">
      <div class="columna">
        <div class="icono">
          {% progImage 'a6b47a87-0d1d-4807-a121-eef3d9c6e2a8' %}
        </div>
        <h3 class="fs-2 titulo">Ilusión</h3>
        <p>
									Detrás de cada página web hay un proyecto con una historia que
									contar y un futuro por desarrollar. Sin olvidarnos de su
									vertiente humana.
								</p>
      </div>
      <div class="columna">
        <div class="icono">
          {% progImage '5031cd1f-36ae-47d5-943a-4136f7a4ee7d' %}
        </div>
        <h3 class="fs-2 titulo">Confianza</h3>
        <p>
									Tras más de 15 años desarrollando proyectos en internet
									afrontamos cada reto garantizando el cumplimiento de los
									objetivos establecidos.
								</p>
      </div>
    </div>
  </div>
</div>