<a href="/" aria-label="Página principal" class="logo">
  {% include "svg/logo.svg" %}
</a>
<div class="menuppal">
  <nav>
    <input type="checkbox" name="abrirmenu" id="abrirmenu" class="oculto">
    <label for="abrirmenu" class="abrirmenu">
      <span class="linea arriba"></span>
      <span class="linea centro"></span>
      <span class="linea abajo"></span>
    </label>
    {% include "layouts/_menuppal.njk" %}
  </nav>
</div>
<section class="intro">
  {% if not uuid %}
    {% set uuid = "91fc4a78-56df-4725-9d5b-eb14f188c1fe" %}
  {% endif %}
  {% progImage uuid %}
  <div class="texto">
    <div class="contenedor">
      {% if titulo %}
        <h1 class="fs-5 titular">
          {{ titulo | safe}}
        </h1>
      {% endif %}
      {% if intro %}
        {{ intro | safe }}
      {% endif %}
    </div>
  </div>
</section>