<footer class="footer parallax">
  {% progImage "435675f2-7651-4992-ab17-95b68f4753f6" %}
  <div class="pie">
    <div class="contenedor">
      <div class="logopie">
        {% include "svg/logo.svg" %}
      </div>
      <p class="cursiva lineaabajo fs--1">
							"Transformamos ideas en realidad digital"
						</p>
      <div class="direccion fs--1">
        <p class="ubicacion">
          <span class="conicono">
            {% include "svg/ico-dir.svg" %}
            <span>Avenida Maurice Ravel 16</span></span
								>
          <span>48007 - Bilbao. SPAIN</span>
        </p>
        <p class="comunicacion">
          <span class="conicono">
            {% include "svg/ico-tfno.svg" %}
            <a href="tel:+34944130535">+34 944 130 535</a>
          </span>
          <span class="conicono">
            {% include "svg/ico-email.svg" %}
            <a href="info@idenautas.com">info@idenautas.com</a>
          </span
								>
        </p>
      </div>
      <div class="menu fs--1">
        {% include "layouts/_menuppal.njk" %}
      </div>
      <div class="menu fs--1">
        <ul>
          <li>
            <a href="/aviso-legal" aria-label="Textos legales sobre las condiciones de uso">Aviso Legal</a>
          </li>
          <li>
            <a href="/politica-de-privacidad" aria-label="Textos legales sobre la política de privacidad">Política de privacidad</a>
          </li>
          <li>
            Este sitio no usa cookies. ¡Ninguna!
          </li>
          <li>
            <a href="/mapa-del-sitio" aria-label="ïndice con todas las páginas del sitio web">Mapa del sitio</a>
          </li>
        </ul>
      </div>
      <p class="direccion fs--1">
        &copy; Copyright 2023 Idenautas S.L.U.
      </p>
    </div>
  </div>
</footer>