<ul>
  <li class="nav-item{% if page.url == "/" %} nav-item-active{% endif %}">
    <a href="/" aria-label="Página principal">Inicio</a>
  </li>
  <li class="nav-item{% if "/nosotros/" == page.url %} nav-item-active{% endif %}">
    <a href="/nosotros" aria-label="Información sobre quienes somos">Nosotros</a>
  </li>
  <li class="nav-item{% if "/servicios/" in page.url %} nav-item-active{% endif %}">
    <a href="/servicios" aria-label="Descubre en qué podemos ayudarte">Servicios</a>
  </li>
  <li class="nav-item{% if "/blog/" in page.url %} nav-item-active{% endif %}">
    <a href="/blog" aria-label="Artículos de información sobre diseño y desarrollo web">Blog</a>
  </li>
  <li class="nav-item{% if "/contacto/" == page.url %} nav-item-active{% endif %}">
    <a href="/contacto" aria-label="Formas de contactar con nosotros">Contacto</a>
  </li>
</ul>