<ul>
  <li class="nav-item{% if page.url == "/" %} nav-item-active{% endif %}">
    <a href="/">Inicio</a>
  </li>
  <li class="nav-item{% if "/nosotros/" == page.url %} nav-item-active{% endif %}">
    <a href="/nosotros">Nosotros</a>
  </li>
  <li class="nav-item{% if "/servicios/" in page.url %} nav-item-active{% endif %}">
    <a href="/servicios">Servicios</a>
  </li>
  <li class="nav-item{% if "/blog/" in page.url %} nav-item-active{% endif %}">
    <a href="/blog">Blog</a>
  </li>
  <li class="nav-item{% if "/contacto/" == page.url %} nav-item-active{% endif %}">
    <a href="/contacto">Contacto</a>
  </li>
</ul>