<section class="centrar diagonal">
  <div class="contenedor estrecho">
    <div class="tituloizq">
      <h2 class="fs-4 bold titulo">Nuestra filosofía</h2>
      <p class="texto fs-1">
							Trabajamos dando forma a las ideas hasta conseguir el sitio web
							que mejor se ajuste a las necesidades reales de tu proyecto.
						</p>
    </div>
  </div>
  {% include "layouts/_4pilares.njk" %}
  <div class="decision">
    <a href="/nosotros" class="boton solido">Saber más...</a>
    <a href="/contacto" class="boton">Contactanos</a>
  </div>
</section>